@font-face {
    font-family: SourceSerifPro;
    src: url(SourceSerifPro-SemiBold.ttf);
}
body {
    background-image: linear-gradient(to bottom, #1c3038, #0e171d);
    font-family: SourceSerifPro;
    color: #fff;
    -webkit-text-stroke: 0.8px #4b4bc5;
}
.titlebar {
    -webkit-text-stroke-width: 0.5px;
    font-size: 11px;
}
.main-container {
    margin: 30px 10% 0;
}
@media only screen and (max-width: 1200px) {
    .main-container {
        margin: 30px 2% 0;
    }
}
.magatama-row {
    width: 100%;
    text-align: center;
}
.magatama-row .magatama-entry {
    width: 100px;
    height: 130px;
    display: inline-block;
    margin-right: 1%;
    cursor: pointer;
}
.magatama-row .magatama-entry:last-child {
    margin: 0;
}
.magatama-row .magatama-entry .icon {
    width: 100px;
    height: 93px;
    background-image: url(magatama.png);
    background-size: cover;
}
.magatama-row .magatama-entry .name {
    font-size: 20px;
    text-align: center;
}
#shopping_list .remove-button:hover,
.magatama-row .magatama-entry.active .name,
.magatama-row .magatama-entry:hover .name {
    text-shadow: 0 0 10px #fff;
}
.info-row .magatama-info {
    display: none;
}
.info-row .magatama-info .info-box {
    width: 35%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 15px;
}
.info-row .magatama-info .info-box:first-child {
    width: 60%;
}
.info-row .magatama-info .info-box .data-name, 
.info-row .magatama-info .info-box .data-field {
    width: 70%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 7px;
}
.info-row .magatama-info .info-box .data-name {
    width: 25%
}
#shopping_list table,
.info-row .magatama-info .info-box table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#shopping_list table th,
.info-row .magatama-info .info-box table th {
    border-bottom: 2px solid rgba(255,255,255,0.5);
}
#shopping_list table th:first-child,
.info-row .magatama-info .info-box table th:first-child {
    width: 30%;
}
#shopping_list table td,
.info-row .magatama-info .info-box table td {
    border-bottom: 2px solid rgba(255,255,255,0.1);
}
#shopping_list table tr:last-child td,
.info-row .magatama-info .info-box table tr:last-child td {
    border: 0;
}
.info-row .magatama-info .info-box table tr:not(:first-child):hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
}
#shopping_list {
    float: right;
    width: 60%;
    height: 250px;
    margin-top: 30px;
}
#shopping_list .list-header {
    width: 100%;
    font-size: 25px;
    text-decoration: underline;
}
#shopping_list table {
    width: 100%;
}
#shopping_list .remove-button {
    color: #f0c2ab;
    -webkit-text-stroke-color: #5c221d;
    font-size: 20px;
    cursor: pointer;
}
#shopping_list table th:last-child {
    width: 80px;
}
.prototype {
    display: none;
}



